.footerTop {
    padding: 65px 0;
    background-color: var(--color-black);
}

.footerList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footerTop ul li {
    margin: 0 0 10px 0;
    color: var(--color-white);
}

.footerTop ul li a {
    color: inherit;
    text-decoration: none;
}

.footerTop .footerHeading {
    margin: 0 0 15px 0;
    font-size: 24px;
}

.footerTop p {
    color: var(--color-white);
}

.footerTop a {
    text-decoration: none;
    color: var(--color-white);
}

.footerTop a:hover {
    text-decoration: underline;
}

.footerBottom {
    text-align: center;
    padding: 12px 0;
    color: var(--color-white);
    font-size: 16px;
    background-color: var(--color-green);
}

.footerTop p {
    margin-bottom: 20px;
}

.footerTop .ph-line {
    line-height: 30px;
}

.cta {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 0px;
    z-index: 99;
    width: 250px;
}


.cta img {
    width: 100%;
    height: auto;
}

.fooLogo {
    margin: 0 0 50px 0;
}

.foo1 ul {
    padding: 0 0 0 18px;
    list-style: disc;
}

@media (max-width: 991px) {
    .footerTop {
        padding: 40px 0 20px;
    }

    .footerBottom {
        font-size: 13px;
    }
}

@media (max-width: 767px) {
    .footerBottom {
        padding-bottom: 130px;
    }

    .cta {
        display: block;
    }
}